### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule hire-web-developer index.html
RewriteRule about-me-javascript aboutme.html
RewriteRule creating-websites-offer offer.html
RewriteRule cv-developer-programmer-javascript cv.html
RewriteRule contact-programmer-java-script contact.html